<div class="card-category-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg?semt=ais_hybrid)">
  your movie lists
</div>
<h2>lists</h2>

<div class="cards">
  <% @lists.each do |list|%>
    <div class="card-category"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300%>')">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>


<button class ="btn btn-primary text-center">
<%= link_to "create a new list", new_list_path, class: "text-white"%>
</button>
